<div class="container-fluid">
  <h6>Enter the details of users below to register them</h6>
  <div class="row">
      <div class="col-sm-6" style="background-color:#302b63;">
          <br>
          <label><h6 style="color: #fff; font-weight: bold; cursor: pointer; display: flex;">SubjectCode:</h6></label>
          <input type="text" [(ngModel)] = "SubjectCode" class="form-control" [ngStyle] = "{
              'border-color': SubjectCode == '' ? 'red' : '#70C770'
          }">
          <br>
          <label><h6 style="color: #fff; font-weight: bold; cursor: pointer; display: flex;">Name:</h6></label>
          <input type="text" [(ngModel)] = "Name" class="form-control" [ngStyle] = "{
              'border-color': Name == '' ? 'red' : '#70C770'
          }">
          <br>
          <label><h6 style="color: #fff; font-weight: bold; cursor: pointer; display: flex;">Credits:</h6></label>
          <input type="text" [(ngModel)] = "Credits" class="form-control" [ngStyle] = "{
              'border-color': Credits == '' ? 'red' : '#70C770'
          }">
          <br>
          <label><h6 style="color: #fff; font-weight: bold; cursor: pointer; display: flex;">Slots:</h6></label>
          <input type="text" [(ngModel)] = "Slots" class="form-control" [ngStyle] = "{
              'border-color': Slots == '' ? 'red' : '#70C770'
          }">

          <br>
          <label><h6 style="color: #fff; font-weight: bold; cursor: pointer; display: flex;">Date of Birth:</h6></label>
          <input type="text" [(ngModel)] = "state" class="form-control" [ngStyle] = "{
              'border-color': state == '' ? 'red' : '#70C770'
          }">
          <br>
          <button (click) = "addSubject()" class = "btn btn-primary btn-sm">Submit</button>
          <br>
          <br>
      </div>
      <div class="col-sm-6">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>id</th>
                      <th>SubjectCode</th>
                      <th>Name</th>
                      <th>Credits</th>
                      <th>Slots</th>
                      <th>state</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor = "let subject of subjects">
                      <td>{{ subject.id }}</td>
                      <td>{{ subject.SubjectCode }}</td>
                      <td>{{ subject.Name }}</td>
                      <td>{{ subject.Credits  }}</td>
                      <td>{{ subject.Slots }}</td>
                      <td>{{ subject.state }}</td>
                  </tr>
                  <tr>
                      <td>{{ id  }}</td>
                      <td>{{ SubjectCode  }}</td>
                      <td>{{ Name }}</td>
                      <td>{{ Credits  }}</td>
                      <td>{{ Slots }}</td>
                      <td>{{state }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
